.btn-container {
  font-size: 0; /* чтобы не было расстояния между кнопками*/
}
.btn {
    border: none;
    background-color: lightblue;
    color: white;
    display: inline;
    padding: 10px;
    border-radius: 10px;

}

.left {
    background-color: lightblue;
    color: white;
    margin-right: 0;
    display: inline;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}

.right {
    background-color: lightpink;
    color: white;
    margin-left: 0;
    display: inline;
    border-radius: 0 10px 10px 0 ;
    padding: 10px;
}