* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: antiquewhite;
}

body {
  display: flex;
  flex-direction: column;
}

/* styles for add new animals*/
.body-add-new-animal {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

.div-add-new-animal {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  gap: 5px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  width: 100px;
  font-weight: bold;
}

.form-group input {
  flex: 1;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

button[type="submit"] {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* styles for animals list */
.body-animals-list {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}
.animal-row {
  display: grid;
  grid-template-columns: 200px 100px 200px 1fr;
  gap: 10px;
  margin: 10px;
}

.error-msg {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.animal-list-header {
  font-weight: bold;
}
