body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}
.main-div {
  border: 2px solid darkgreen;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
