* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  font-style: italic;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  padding: 10px;
  gap: 30px;
}

.bookCard {
  background-color: bisque;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  gap: 30px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bookCard:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.6);
}

.book-img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  display: block;
}

.book-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.error-message {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: larger;
  color: red;
  font-weight: bold;
  font-size: 40px;
}

h1 {
  margin: 20px;
}
