* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

.body-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  font-weight: bold;
  font-size: 25px;
  background-color: bisque;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

span {
  display: block;
  text-align: center;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: red;
  margin-top: 20px;
}

/* .body-main-div {

} */
