* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: bisque;
}

.body-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}